# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment variables (IMPORTANTE: nunca subas esto a GitHub)
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
